@import "fonts.css";

html,
body {
  margin: 0;
  /*height: 100%;*/
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Movement", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #000000;
  padding: 4em 6em;
  gap: 4em;
}

.intro {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  gap: 6em;
  max-width: 1800px;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: 1/-1;
  grid-column: 1;
  height: 100%;
  gap: 1.2em;
}

h1 {
  color: white;
  vertical-align: middle;
  font-size: 200px;
  margin: 0;
  line-height: 0.9;
  max-width: 50%;
}

h1 span {
  display: inline-flex;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 200;
  font-size: 66px;
  line-height: 0.9;
  margin: 0;
}

.avatar {
  border-radius: 100%;
  background-color: #3002c7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.04em;
  margin: 0 0.2em;
}

.about {
  grid-row: 1/-1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Intel-One";
  justify-content: center;
  height: 100%;
  font-weight: 400;
  color: white;
  font-size: 22px;
  margin: 0;
  max-width: 500px;
}

.about bold {
  font-weight: 600;
}

.divider {
  height: 1em;
  margin: 0 auto;
  background-color: #3002c7;
  width: 100%;
}

.button-contact {
  width: 100%;
  height: 4em;
  font-family: Movement;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 100px;
}

.button-contact:active {
  transform: translateY(0.4em);
}

.button-contact:hover {
  color: white;
  background-color: #3002c7;
}

footer {
  display: flex;
  width: 100%;
  margin-top: 10em;
  padding-bottom: 1em;
}

.activity {
  display: inline-flex;
  padding: 0.06em;
  border-radius: 100%;
  background-color: white;
}

.projects-list {
  list-style: none;
  padding: 0;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  flex-direction: column;
  gap: 1em;
}

.section-heading {
  font-family: Movement-Indirect;
  font-size: 40px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.2em;
}

.projects-item {
  border-bottom: 0.4em solid white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #19191a;
  padding: 2em;
}

.projects-item__heading {
  font-family: Intel-One;
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}

.projects-item__description {
  margin: 0;
  font-family: Intel-One;
  font-weight: 400;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 130px;
  }

  h2 {
    font-size: 50px;
  }

  body {
    padding: 4em;
  }

  .intro {
    gap: 4em;
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }

  .about {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .intro {
    gap: 2em;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
  }

  .divider {
    height: 0.8em;
  }

  .avatar img {
    width: 80px;
    height: 80px;
  }

  .activity img {
    width: 25px;
    height: 25px;
  }

  .about {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .intro {
    flex-direction: column;
  }

  .divider {
    height: 0.5em;
  }

  .button-contact {
    margin: 0 0.5em;
    height: 4em;
    font-size: 20px;
  }

  .button-contact:hover {
    background-color: white;
    color: black;
  }
}
