:root {
  --font-dankmono: dm, Monaco, monospace;
  --font-movement: Movement, Verdana, sans-serif;
  --font-movement-indirect: Movement-Indirect, Verdana, sans-serif;
  --font-intelone: Intel-One, Tahoma, monospace;

  --color-theme: #3002c7;
  --color-card: #2c2c2c;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-movement);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #000000;
  padding: 4rem 6rem;
  padding-bottom: 1rem;
  gap: 8rem;
  min-height: 100%;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

h1 {
  color: white;
  vertical-align: middle;
  font-size: 12.5rem;
  margin: 0;
  line-height: 0.9;
}

h1 div {
  display: inline-flex;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 200;
  font-size: 5.5rem;
  line-height: 0.9;
  margin: 0;
}

.avatar {
  border-radius: 100%;
  background-color: var(--color-theme);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.04rem;
  margin: 0 0.2rem;
}

.about {
  font-family: var(--font-intelone);
  margin: auto;
  font-weight: 400;
  color: white;
  font-size: 1.8rem;
  max-width: 48rem;
}

.about b {
  font-weight: 600;
}

.divider {
  height: 1rem;
  margin: 0 auto;
  background-color: var(--color-theme);
  width: 100%;
}

.button-contact {
  width: 100%;
  height: 6rem;
  font-family: var(--font-movement);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: white;
  color: black;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
}

.button-contact svg {
  fill: black;
  width: 1.6rem;
  height: 1.6rem;
}

.button-contact:active {
  transform: translateY(0.4rem);
}

.button-contact:hover,
.button-contact:focus {
  color: white;
  background-color: var(--color-theme);
  border: 0.2rem dotted white;
  box-shadow: 0 0 3rem 0.4rem rgba(255, 255, 255, 0.4);
}

.button-contact:hover svg,
.button-contact:focus svg {
  fill: white;
}

footer {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-heading-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
  flex-wrap: wrap;
}

.section-heading-container__text {
  font-family: var(--font-movement-indirect);
  font-size: 2.8rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  flex-direction: row;
  gap: 0.2rem;
}

.section-heading-container__image {
  height: 6.4rem;
  width: 6.4rem;
}

.footer {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer__text {
  font-family: var(--font-dankmono);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: white;
  opacity: 0.8;
}

.footer__bottom-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer .divider {
  height: 0.4rem;
}

.footer__github {
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}

.footer__github:hover {
  fill: #77ffbd;
}
