@media (min-width: 1700px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 13px;
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }

  .projects-item__description {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 130px;
  }

  h2 {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  body {
    padding: 3rem 2rem;
  }

  .intro {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6rem;
  }

  h1 {
    font-size: 9rem;
  }

  h2 {
    font-size: 4rem;
  }

  .about {
    font-size: 1.5rem;
  }

  .avatar img {
    width: 7rem;
    height: 7rem;
  }

  .section {
    gap: 3rem;
  }

  .section-heading-container {
    justify-content: center;
  }

  .tech-stack__container {
    justify-content: center;
  }

  .projects-list {
    grid-template-columns: auto;
  }

  .projects-other-list {
    flex-direction: column;
  }

  .projects-subheading {
    font-size: 2rem;
  }

  .projects-other-list__item a {
    height: 6rem;
    font-size: 1.2rem;
  }

  .activity img {
    width: 2.8rem;
    height: 2.8rem;
  }

  .projects-item .projects-item__link {
    box-shadow: none;
    font-size: 1rem;
  }

  .projects-item__heading {
    font-size: 2rem;
  }

  .projects-item__description {
    font-size: 1.4rem;
  }

  .photography .photography-layout {
    grid-template-rows: repeat(5, 12rem);
    grid-gap: 0.4rem;
  }

  .photography .photography__description {
    text-align: center;
    font-size: 1.6rem;
  }

  .button-contact {
    height: 6rem;
    font-size: 20px;
  }

  .button-contact:hover {
    background-color: white;
    color: var(--color-theme);
    box-shadow: none;
  }
}
