.photography__description {
  font-family: var(--font-movement);
  color: white;
  font-size: 1.2rem;
}

.photography-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 20rem);
  grid-template-areas:
    "a b c"
    "a d c"
    "a e e"
    "f g h"
    "i j h";
  align-items: stretch;
  grid-gap: 1rem;
}

.photography-layout__image--1 {
  grid-area: a;
}

.photography-layout__image--2 {
  grid-area: b;
}

.photography-layout__image--3 {
  grid-area: c;
}

.photography-layout__image--4 {
  grid-area: d;
}

.photography-layout__image--5 {
  grid-area: e;
}

.photography-layout__image--6 {
  grid-area: f;
}

.photography-layout__image--7 {
  grid-area: g;
}

.photography-layout__image--8 {
  grid-area: h;
}

.photography-layout__image--9 {
  grid-area: i;
}

.photography-layout__image--10 {
  grid-area: j;
}

.photography-layout img {
  object-fit: cover;
  width: 100%;
}
