@import "fonts.css";
@import "dank-mono.css";

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

image {
  display: block;
}

html {
  height: 100%;
}

body {
  font-family: "Movement", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: #000000;
  padding: 4rem 6rem;
  padding-bottom: 1rem;
  gap: 6rem;
  min-height: 100%;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

h1 {
  color: white;
  vertical-align: middle;
  font-size: 12.5rem;
  margin: 0;
  line-height: 0.9;
}

h1 span {
  display: inline-flex;
  align-items: center;
}

h2 {
  color: white;
  font-weight: 200;
  font-size: 5.5rem;
  line-height: 0.9;
  margin: 0;
}

.avatar {
  border-radius: 100%;
  background-color: #3002c7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.04rem;
  margin: 0 0.2rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Intel-One";
  justify-content: center;
  margin: 0 auto;
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
  max-width: 36rem;
}

.about bold {
  font-weight: 600;
}

.divider {
  height: 1rem;
  margin: 0 auto;
  background-color: #3002c7;
  width: 100%;
}

.button-contact {
  width: 100%;
  height: 6rem;
  font-family: Movement;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 100px;
}

.button-contact:active {
  transform: translateY(0.4rem);
}

.button-contact:hover {
  color: white;
  background-color: #3002c7;
  border: 0.2rem dotted white;
}

footer {
  display: flex;
  width: 100%;
  margin-top: 10rem;
  padding-bottom: 1rem;
}

.activity {
  display: inline-flex;
  padding: 0.06rem;
  border-radius: 100%;
  background-color: white;
}

.projects-list {
  list-style: none;
  padding: 0;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: auto;
  gap: 1.2rem;
}

.projects-heading__note {
  font-size: 0.4em;
  margin-left: 0.4em;
  opacity: 0.6;
  font-weight: 200;
  font-family: Movement;
}

.section-heading-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-heading-container__text {
  font-family: Movement-Indirect;
  font-size: 2.8rem;
  color: white;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: 0.2rem;
}

.section-heading-container__image {
  height: 6.4rem;
  width: 6.4rem;
}

.projects-item {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #2e2e2e;
  padding: 2rem;
  padding-bottom: 2.4rem;
}

.projects-item__heading {
  font-family: Intel-One;
  font-size: 1.6rem;
  margin: 0;
  font-weight: 600;
}

.projects-item__logo {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.projects-item__description {
  font-family: dm;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.6;
  line-height: 1.4;
}

.projects-item__images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.4rem;
}

.projects-item__image {
  object-fit: cover;
}

.tech-stack__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

.tech-stack__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tech-stack__badge {
  background-color: #3002c7;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.tech-stack__badge-name {
  font-family: dm;
  color: white;
  font-size: 1.2em;
  width: min-content;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer__text {
  font-family: dm;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  opacity: 0.8;
}

@media (min-width: 1700px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 12px;
  }

  .avatar img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 130px;
  }

  h2 {
    font-size: 50px;
  }
}

@media (max-width: 800px) {
  body {
    padding: 2rem 3rem;
  }

  .intro {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 6rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 3.4rem;
  }

  .avatar img {
    width: 80px;
    height: 80px;
  }

  .projects-list {
    grid-template-columns: auto;
  }

  .activity img {
    width: 25px;
    height: 25px;
  }

  .button-contact {
    height: 4rem;
    font-size: 20px;
  }

  .button-contact:hover {
    background-color: white;
    color: black;
  }
}
