.tech-stack__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 2rem;
}

.tech-stack__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tech-stack__badge {
  background-color: var(--color-theme);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.tech-stack__badge-name {
  font-family: var(--font-dankmono);
  color: white;
  font-size: 1.2em;
  width: min-content;
}
